@charset "utf-8";

@forward "config/base";
@use "config/base" as bs;

#footer {
    background-color: bs.$footer-bg-color;

    .wrapper {
        .flex-container {
            justify-content: space-between;
            align-items: center;
            padding: 40px 0;

            @include bs.mq {
                flex-direction: column;
                align-items: flex-start;
                padding: 48px 0 40px;
            }

            img {
                width: 100px;

                @include bs.mq {
                    width: 80px;
                    margin-bottom: 8px;
                }
            }

            .footer-list {
                margin-right: 20px;

                li {
                    line-height: 21px;
                }
            }
        }

        .copy-right {
            padding-bottom: 20px;
            font-size: bs.rem(12);
        }
    }
}