@charset "utf-8";

@forward "config/base";
@use "config/base" as bs;

#news {
    margin-bottom: 120px;

    @include bs.mq {
        margin-bottom: 50px;
    }

    .wrapper {
        dl.flex-container {
            align-items: flex-start;

            @include bs.mq {
                flex-direction: column;
            }

            .flex-item {
                width: calc(100%/3);
                border-right: 1px solid bs.$border-color;
                padding-left: 20px;

                &:last-child {
                    border-right: none;
                }

                @include bs.mq {
                    width: 100%;
                    border-right: none;
                    padding-left: 0;
                }

                dt.news-info {
                    margin-bottom: 13px;
                    align-items: center;

                    .date {
                        margin-right: 20px;
                    }
                    .category {
                        width: 50px;
                        font-size: bs.rem(12);
                        color: bs.$button-font-color;
                        background-color: bs.$button-color;
                        text-transform: uppercase;
                        padding: 3px 0;
                        text-align: center;
                    }
                }

                dd.news-title {
                    font-size: bs.rem(16);
                    margin-bottom: 15px;

                    @include bs.mq {
                        margin-bottom: 38px;
                    }
                }
            }
        }
    }
}