@charset "utf-8";

$font-color: #000;  // 全体の文字色
$border-color: #000; // 全体の線の色
$bg-color: #f0f0f0; // 全体の背景の色
$button-color: #000; // ボタンの色
$button-font-color: #fff;   // ボタンの文字の色
$company-bg-color: #fff;    // COMPANYの背景色
$footer-bg-color: #fff;    // フッターの背景色